<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
  <div id="app" class="container my-3">
    <div class="row">
      <div class="col">
        <form @submit.prevent>
          <h3>Input form</h3>
          <p v-if="errors.length">
            <b>Errors:</b>
            <ul>
              <li v-for="error in errors">{{ error }}</li>
            </ul>
          </p>
          <div class="mb-3">
            <label class="form-label">name</label>
            <input :disabled="buttonStatus === 'Upload'" type="text" class="form-control" v-model="name">
          </div>
          <div class="mb-3">
            <label class="form-label">no. hp</label>
            <input :disabled="buttonStatus === 'Upload'" type="text" class="form-control" v-model="no_hp">
          </div>
          <div class="mb-3">
            <label class="form-label">address</label>
            <textarea :disabled="buttonStatus === 'Upload'" class="form-control" v-model="address"></textarea>
          </div>
          <div v-if="buttonStatus === 'Tambah'">
            <button @click="submitMember" type="submit" class="btn btn-primary">Tambah</button>
          </div>
          <div v-else-if="buttonStatus === 'Update'">
            <button @click="updateMember(idEditMember)" type="submit" class="btn btn-warning">Update</button>
            <button @click="clearForm" class="btn btn-outline-primary">Clear</button>
          </div>
          <div v-else-if="buttonStatus === 'Upload'">
            <input type="file" class="form-control my-3" name="photo_profile" ref="photo_profile">
            <button @click="submitPhoto(idUploadMember)" type="submit" class="btn btn-success">Upload</button>
            <button @click="clearForm" class="btn btn-outline-primary">Clear</button>
          </div>
        </form>
      </div>
      <div class="col">
        <member-component :members="members" @edit="editMember" @remove="removeMember" @upload="uploadPhoto"></member-component>
      </div> 
    </div>
  </div>

  

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="module">
    // const MemberComponent = {
    //   template : '#member-component',
    //   props: ['members'],
    // }
    import {MemberComponent} from './table.js'

    var vm = new Vue({
      el : '#app',
      data : {
        members: [],
        domain : 'http://demo-api-vue.sanbercloud.com/api/',
        name : "",
        address : "",
        no_hp : "",
        errors : [],
        idEditMember: null,
        idUploadMember: null,
        buttonStatus: 'Tambah'
      },
      components : {
        MemberComponent
      },
      methods : {
        getMembers(){
          const config = {
            method : 'get',
            url : this.domain + 'member',
          }
          axios(config)
          .then( (response) => {
            this.members = response.data.members
            console.log(this.members)
          })
          .catch( (error) => {
            console.log(error)
          })
        },

        submitPhoto(id){
          let file = this.$refs.photo_profile.files[0]
          let formData= new FormData()
          formData.append('photo_profile', file)
          const config = {
            method : 'post',
            url : this.domain + 'member/' + id + '/upload-photo-profile',
            data : formData,
            // headers : {
            //   'Content-Type' : 'multipart/form-data'
            // }
          }
          axios(config)
          .then( (response) => {
            this.getMembers()
            this.clearForm()
            alert(response.data.message)
          } )
          .catch( (error) => {
            console.log(error)
          } )
        },

        validationForm(){
          this.errors = []
          if(this.name.length < 5){
            this.errors.push('name minimal 5 karakter')
          }
          if(this.address.length < 10){
            this.errors.push('address minimal 10 karakter')
          }
          if(this.no_hp.length < 8){
            this.errors.push('nomor hp minimal 8 karakter')
          }
          if(this.no_hp[0] != '0'){
            this.errors.push('nomor hp harus diawali dengan 0')
          }
          if(this.name == '' || this.address == ''){
            this.errors.push('Form tidak boleh kosong')
          }
        },
        uploadPhoto(Member){
          this.name = Member.name
          this.no_hp = Member.no_hp
          this.address  = Member.address
          this.idUploadMember = Member.id
          this.buttonStatus = 'Upload'
        },
        editMember(Member){
          this.name = Member.name
          this.address  = Member.address
          this.no_hp = Member.no_hp
          this.idEditMember = Member.id
          this.buttonStatus = 'Update'
        },
        updateMember(id){
          this.validationForm()
          if(this.errors.length == 0){
            let formData = new FormData()
            formData.append('name', this.name)
            formData.append('no_hp', this.no_hp)
            formData.append('address', this.address)

            const config = {
              method : 'post',
              url : this.domain + 'member/' + id ,
              params : {_method : "PUT"},
              data : formData
            }

            axios(config)
            .then( (response) => {
              this.getMembers()
              this.clearForm()
              alert(response.data.message)
            })
            .catch( (error) => {
              console.log(error)
            } )
          }
        },
        removeMember(id){
          const config = {
            method : 'post',
            url : this.domain + 'member/' + id,
            params : {_method : "DELETE"}
          }
          axios(config)
          .then( (response) => {
            this.getMembers()
            alert(response.data.message)
          } )
          .catch( (error) => {
            console.log(error)
          } )
        },
        clearForm(){
          this.name = ''
          this.address = ''
          this.no_hp = ''
          this.idEditMember = null
          this.idUploadMember = null
          this.buttonStatus = 'Tambah'
        },
        submitMember(){
          this.validationForm()
          let formData = new FormData()
          formData.append('name', this.name)
          formData.append('address', this.address)
          formData.append('no_hp', this.no_hp)
          if(this.errors.length  == 0){
            const config = {
              method : 'post',
              url : this.domain + 'member',
              data : formData,
            }
            axios(config)
            .then( (response) => {
              this.clearForm()
              this.getMembers()
              // console.log(repsonse.data.message)
              alert(response.data.message)
            })
            .catch( (error) => {
              console.log(error)
            } )
          }
        }
      },
      created(){
        this.getMembers()
      }
    })
  </script>
</body>
</html>