<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
  <div id="app" class="container">
    <div class="row">
      <div class="col">
        <form>
          <p v-if="errors.length">
            <b>Errors:</b>
            <ul>
              <li v-for="error in errors">{{ error }}</li>
            </ul>
          </p>
          <div class="mb-3">
            <label class="form-label">Title</label>
            <input :disabled="buttonStatus === 'Upload'" type="text" class="form-control" v-model="title">
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea :disabled="buttonStatus === 'Upload'" class="form-control" v-model="description"></textarea>
          </div>
          <div v-if="buttonStatus === 'Tambah'">
            <button type="submit" class="btn btn-primary">Tambah</button>
          </div>
          <div v-else-if="buttonStatus === 'Update'">
            <button @click="updateBlog(idEditMember)" type="submit" class="btn btn-primary">Update</button>
            <button @click="clearForm" class="btn btn-primary">Clear</button>
          </div>
          <div v-else-if="buttonStatus === 'Upload'">
            <input type="file" class="form-control" name="photo" ref="photo">
            <button @click="submitPhoto(idEditMember)" type="submit" class="btn btn-primary">Upload</button>
            <button @click="clearForm" class="btn btn-primary">Clear</button>
          </div>
        </form>
      </div>
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">photo</th>
              <th scope="col">title</th>
              <th scope="col">desc</th>
              <th scope="col">action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(blog, index) in blogs">
              <th scope="row">{{ index }}</th>
              <td><img :src="blog.photo ? domain + blog.photo : null" alt=""></td>
              <td>{{ blog.title }}</td>
              <td>{{ blog.description }}</td>
              <td>
                <a href="" class="btn btn-warning btn-sm" @click="editBlog(blog)">Edit</a>
                <a href="" class="btn btn-danger btn-sm" @click="remove(blog.id)">Delete</a>
                <a href="" class="btn btn-success btn-sm" @click="uploadPhoto(blog)">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    var vm = new Vue({
      el : '#app',
      data : {
        blogs: [],
        domain : 'http://localhost:8080/api/',
        title : "",
        description : "",
        errors : [],
        idEditMember: null,
        idUploadMember: null,
        buttonStatus: 'Tambah'
      },
      methods : {
        getBlog(){
          // axios.get('http://localhost:8080/api/blogs')
          // .then(response => {
          //   this.blogs = response.data
          // })
          // .catch(error => {
          //   console.log(error)
          // })
          const config = {
            method : 'get',
            url : this.domain + 'blog',
          }
          axios(config)
          .then( (response) => {
            this.blogs = response.data.data
          })
          .catch( (error) => {
            console.log(error)
          })
        },

        submitPhoto(id){
          let file = this.$refs.photo.files[0]
          let formData= new FormData()
          formData.append('photo', file)
          const config = {
            method : 'post',
            url : this.domain + 'blog/' + id + '/upload-photo',
            data : formData,
            headers : {
              'Content-Type' : 'multipart/form-data'
            }
          }
          axios(config)
          .then( (response) => {
            this.getBlog()
            this.clearForm()
          } )
          .catch( (error) => {
            console.log(error)
          } )
        },

        validationForm(){
          this.errors = []
          if(this.title.length < 5){
            this.errors.push('Title minimal 5 karakter')
          }
          if(this.description.length < 10){
            this.errors.push('Description minimal 10 karakter')
          }
          if(this.title == '' || this.description == ''){
            this.errors.push('Form tidak boleh kosong')
          }
        },
        uploadPhoto(blog){
          this.title = blog.title
          this.description  = blog.description
          this.idUploadMember = blog.id
          this.buttonStatus = 'Upload'
        },
        editBlog(blog){
          this.title = blog.title
          this.description  = blog.description
          this.idEditMember = blog.id
          this.buttonStatus = 'Update'
        },
        updateBlog(id){
          this.validationForm()
          if(this.errors.length == 0){
            let formData = new FormData()
            formData.append('title', this.title)
            formData.append('description', this.description)

            const config = {
              method : 'post',
              url : this.domain + 'blog/' + id ,
              params : {_methtod : "PUT"},
              data : formData
            }

            axios(config)
            .then( (response) => {
              this.getBlog()
              this.clearForm()
            })
            .catch( (error) => {
              console.log(error)
            } )
          }
        },
        removeBlog(id){
          const config = {
            method : 'post',
            url : this.domain + 'blog/' + id,
            params : {_methtod : "DELETE"}
          }
          axios(config)
          .then( (response) => {
            this.getBlog()
          } )
          .catch( (error) => {
            console.log(error)
          } )
        },
        clearFrom(){
          this.title = ''
          this.description = ''
          this.idEditMember = null
          this.idUploadMember = null
          this.buttonStatus = 'Tambah'
        },
        submitBlog(){
          this.validationForm()
          let formData = new FormData()
          formData.append('title', this.title)
          formData.append('description', this.description)
          if(this.erros.length  == 0){
            const config = {
              method : 'post',
              url : this.domain + 'blog',
              data : formData,
            }
            axios(config)
            .then( (response) => {
              this.clearFrom()
              this.getBlog()
              console.log(repsonse.data)
              // alert(response.data.message)
            })
            .catch( (error) => {
              console.log(error)
            } )
          }
        }
      },
      created(){
        this.getBlog()
      }
    })
  </script>
</body>
</html>