<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form @submit.prevent="addOrUpdate()">
      <input type="text" v-model="showName">
      <button>{{ btn }}</button>
    </form>
    <ul>
      <li v-for="(user,index) in users">
        {{ user.name }}
        <button @click="edit(index)">edit</button> || 
        <button @click="remove(index)">delete</button>
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        users: [
          {
            name : 'Muhammad Iqbal Mubarok'
          },
          {
            name : 'Ruby Purwanti'
          },
          {
            name : 'Faqih Muhammad'
          },
        ],
        showName: '',
        btn: 'add',
        selectedId: -1
      },
      computed : {
      },
      methods : {
          edit(index){
            this.selectedId = parseInt(index)
            this.showName = this.users[this.selectedId].name
            this.btn = 'update'
          },
          addOrUpdate(){
            if(this.btn == 'add'){
              this.users.push({name: this.showName})
              this.showName = ''
            }else{
              this.users[this.selectedId].name = this.showName
              this.showName = ''
              this.btn = 'add'
            }
          },
          remove(index){
            if(confirm(`Anda yakin menghapus ${this.users[index].name}?`)){
              this.users.splice(index, 1)
            }
          }
        }
      
    })
  </script>
</body>
</html>