<template>
  <div>
    <v-container>
      <v-subheader>
        All Blogs
      </v-subheader>
      <v-layout wrap>
        <v-flex v-for="(blog) in blogs" :key="`blog` + blog.id" xs6>
          <blog-item :blog="blog"></blog-item>
        </v-flex>
      </v-layout>
      <v-pagination
      v-model="page"
      @input="go"
      :length="lengthPage"
      :total-visible="6"
      ></v-pagination>
    </v-container>
  </div>
</template>

<script>
  export default {
    data: ()=> ({
      blogs: [],
      page: 0,
      lengthPage: 0,
    }),
    components:{
      BlogItem : ()=> import('../components/BlogItem.vue')
    },
    created(){
      this.go()
    },
    methods: {
      go(){
        let url = '/api/blog?page=' + this.page
        axios.get(url)
        .then(response => {
          let {data} = response.data
          // console.log(data)
          this.blogs = data.blogs.data
          this.page = data.blogs.current_page
          this.lengthPage = data.blogs.last_page
        })
        .catch(error => {
          let {responses} = error
          console.log(responses)
        })
      }
    }
  }
</script>